body {
    background-color: #F7EDE2;
    min-width: 100%;

}

header {
    position: relative;
}

h1 {
    position: relative;
    top: 0px;
    margin-left: 50px;
    right: 0px;
    color: #B5838D;
}

.cart-info{
    display: block;
    vertical-align: middle;
    margin-top:0px;
    margin-right: 20px;
    margin-left: 80px;
    color: #000000;
}

.first-line {
    background-color: #B5838D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin-top: -7px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 10%;
    transition: margin-left 0.3s ease-in-out;
}

.plant-logo {
    margin-left: 10px;
    margin-bottom: 12px;
    height: 40px;
    width: 50px;
}

#WeGa {
    display: inline-block;
    text-decoration: none;
    color: #F7EDE2;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0px;
}

#WeGa .first-letter {
    font-size: 60px;
    letter-spacing: -6px;
}

#WeGa .third-letter {
    font-size: 60px;
    letter-spacing: 1px;
}

.button {
    text-decoration: none;
}

.button:hover {
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 7px 29px 0px;
    border: 3px solid white;
}

.button:active {
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.header-buttons {
    display: flex;
    padding: 8px 20px;
    transition: padding-right 0.3s ease-in-out;
    gap: 15px;
}

#login-button,
#logout-button,
#register-button,
#contact-button,
#Crops-button,
#Products-button,
#Cart-button{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #B5838D;
}

#login-button:hover,
#logout-button:hover,
#register-button:hover,
#contact-button:hover,
#Crops-button:hover,
#Products-button:hover,
#Cart-button:hover{
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 7px 29px 0px;
    border: 3px solid white;
}

#login-button:active,
#logout-button:active,
#register-button:active,
#contact-button:active,
#Crops-button:active,
#Products-button:active,
#Cart-button:active{
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.container-input {
    position: relative;
    top: 130px;
    right: -680px;
    z-index: 1;
}

.myImage {
    width: 900px;
    height: auto;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 100px;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    #logout-button,
    #register-button,
    #contact-button,
    #Crops-button,
    #Products-button,
    #Cart-button {
        padding: 8px 20px;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }
}
