body {
    background-color: #F7EDE2;
    min-width: 437px;
}

header {
    position: relative;
}

.first-line {
    background-color: #B5838D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin-top: -7px;
}

h1 {
    position: relative;
    top: 70px;
    color: #B5838D;
}

h2 {
    position: relative;
    top: 0px;
    color: #B5838D;
    border-bottom: 2px solid #B5838D;
    width: 90%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 10%;
    transition: margin-left 0.3s ease-in-out;
}

.plant-logo {
    margin-left: 10px;
    margin-bottom: 12px;
    height: 40px;
    width: 50px;
}

#WeGa {
    display: inline-block;
    text-decoration: none;
    color: #F7EDE2;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0px;
}

#WeGa .first-letter {
    font-size: 60px;
    letter-spacing: -6px;
}

#WeGa .third-letter {
    font-size: 60px;
    letter-spacing: 1px;
}


.button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #B5838D;
    text-decoration: none; /* Remove underline */
}

.button:hover {
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 7px 29px 0px;
    border: 3px solid white;
}

.button:active {
    letter-spacing: 3px;
    background-color: #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow: #B5838D 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    transition: padding-right 0.3s ease-in-out;
}


#login-button,
#register-button,
#contact-button,
#Crops-button,
#Products-button,
#Cart-button{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #B5838D;
}

#login-button:hover,
#register-button:hover,
#contact-button:hover,
#Crops-button:hover,
#Products-button:hover,
#Cart-button:hover{
    letter-spacing: 3px;
    background-color:  #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow:  #B5838D 0px 7px 29px 0px;
    border: 3px solid white;
}

#login-button:active,
#register-button:active,
#contact-button:active,
#Crops-button:active,
#Products-button:active,
#Cart-button:active{
    letter-spacing: 3px;
    background-color:  #B5838D;
    color: hsl(0, 0%, 100%);
    box-shadow:  #B5838D 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.header-title {
    background: center / cover url('https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1227&q=80'), #B5838D;
    background-size: 100% 100%;
    height: 500px;
    width: 80%;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid #B5838D;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    padding: 0px 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.blurred-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(10px);
}

.blurred-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}

.title,
.city {
    height: 50%;
    max-width: 70%;
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-family: 'Arizonia', cursive;
    text-shadow: 0 0 10px rgba(247, 237, 226, 1);
    transition: font-size 0.3s ease-in-out;
    font-weight: 700;
}

.title {
    font-size: 50px;
    display: inline-flex;
    align-items: flex-end;
    vertical-align: bottom;
}

.title .first-word {
    white-space: nowrap;
    margin-right: 20px;
}

.title .first-letter {
    font-size: 65px;
    transition: font-size 0.3s ease-in-out;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 2px;
}

.city {
    font-size: 55px;
}

.image-container {
    display: flex;
    justify-content: space-between;
}
.image-card {
    flex: 1;
    margin: 10px;
}
.image-card img {
    max-width: 100%;
}

.container-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 140px;
    margin-left: 0px;
    z-index: 1;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.search-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 100px;
}

button.cta {
    position: relative;
    top: -160px;
    right: -1250px;

    z-index: 9999;
}


.cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background:#B5838D ;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}

.recommended {
    margin-left: 100px;
}


.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.card2 .add-to-cart {
    z-index: 10;
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: 0;
    background:#B5838D;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
}

.card2 .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
}

.card2 .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
}

.card2:hover .add-to-cart {
    bottom: 0;
    opacity: 1;
}

.card2:active {
    transform: scale(0.98);
}

.card2:active .add-to-cart {
    height: 3.125em;
}

.text {
    max-width: 55px;
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    margin-right: 250px;
}

.image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card2 {
    position: relative;
    width: 11.875em;
    height: 250px; /* Adjust the height as needed */
    margin: auto;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
}

.result-title {
    margin-left: 100px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #B5838D;
    color: #fff;
}
@media (max-width: 1200px) {
    .header-buttons {
        justify-content: center; /* Center the buttons */
        margin: 0; /* Remove the right margin */
    }
    .button {
        padding: 7px 30px;
        font-size: 10px;
    }

    .search-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: bottom;
        justify-content: flex-end;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }

    .result-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: bottom;
        justify-content: flex-end;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }
}


@media only screen and (max-width: 768px) {
    .logo {
        margin-left: 2%;
        transition: margin-left 0.3s ease-in-out;
    }

    .header-buttons {
        padding: 5px 5px;
        transition: padding-right 0.3s ease-in-out;
    }

    #login-button {
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }

    #register-button {
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }

    #Crops-button{
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }
    #Products-button {
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }
    #Cart-button{
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }


    .header-title {
        width: 100%;
        transition: width 0.3s ease-in-out;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: bottom;
        justify-content: flex-end;
        font-size: 40px;
        transition: font-size 0.3s ease-in-out;
    }

    .title .first-word {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .title .first-letter {
        font-size: 55px;
        transition: font-size 0.3s ease-in-out;
    }

    .city {
        display: flex;
        align-items: start;
        justify-content: center;
        font-size: 45px;
        transition: font-size 0.3s ease-in-out;
        margin-bottom: -70px;
    }

    .search-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: bottom;
        justify-content: flex-end;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }

    .result-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: bottom;
        justify-content: flex-end;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }



    .header-buttons {
        justify-content: center; /* Center the buttons */
        margin: 0; /* Remove the margin */
    }

    .button {
        padding: 5px 15px;
        font-size: 10px;
    }
}



