<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Gardening - Product Details</title>
    <link rel="icon" type="image/png" id="logo-icon" href="../../static/img/favicon.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/crop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Raleway:wght@500;800&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="card">
        <div class="plant-details">
            <h2 class="title" id="product-title"></h2>
            <p class="plant-price" id="product-price"></p>
            <p class="plant-name" id="plant-name"></p>
            <p class="family-name" id="family-name"></p>
            <p class="Export-buttonInfo"><strong>Exportare date:</strong> Pentru a exporta datele in format <strong>CSV/JSON</strong>, va rugam apasati butonul de mai jos.</p>
        </div>
        <img class="plant-image" id="product-image" src="../../static/img/favicon.png" alt="Plant Image">
    </div>
</div>

<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const productPrice = urlParams.get('productPrice');
        const plantName = urlParams.get('plantName');
        let familyName = urlParams.get('familyName');
        if (familyName === 'null') {
            familyName = 'This plant has no family name.';
        }
        const productImage = urlParams.get('productImage');

        document.getElementById('product-price').innerText = `Price: ${productPrice} Ron`;
        document.getElementById('plant-name').innerText = `Plant name: ${plantName}`;
        document.getElementById('family-name').innerText = `Plant family name: ${familyName}`;
        document.getElementById('product-image').src = productImage;
    }
</script>
</body>
</html>
