<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Gardening</title>
    <link rel="icon" type="image/png" id="logo-icon" href="../../static/img/favicon.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/CSS/Products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Raleway:wght@500;800&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="first-line">
        <div class="logo">
            <a href="WeGa.html" id="WeGa"><span class="first-letter">W</span>e<span class="third-letter">G</span>a</a>
            <img src="../../static/img/favicon.png" class="plant-logo" alt="Plant Logo">
        </div>
        <div class="header-buttons">
            <a href="Login.html" class="button">Login</a>
            <a href="register.html" class="button">Register</a>
            <a href="Crops.html" class="button">Crops</a>
            <a href=" Shopping%20cart.html" class="button">Shopping cart</a>
        </div>


    </div>
</header>

<div class="cards-container">
    <div class="card">
        <div class="card-overlay"></div>
        <div class="card-inner">
            <div class="title">Filters</div>
            <div class="section-title">Utenils</div>
            <label class="radio-button">
                <input value="option1" name="category1" type="radio">
                <span class="radio"></span>
                shovels
            </label>
            <label class="radio-button">
                <input value="option2" name="category1" type="radio">
                <span class="radio"></span>
                rakes
            </label>
            <label class="radio-button">
                <input value="option3" name="category1" type="radio">
                <span class="radio"></span>
                watering cans
            </label>
            <label class="radio-button">
                <input value="option4" name="category1" type="radio">
                <span class="radio"></span>
                automatic watering systems
            </label>
            <label class="radio-button">
                <input value="option5" name="category1" type="radio">
                <span class="radio"></span>
                pots
            </label>
            <label class="radio-button">
                <input value="option6" name="category1" type="radio">
                <span class="radio"></span>
                other decorative items
            </label>
            <div class="second-section">Price</div>
            <label class="radio-button">
                <input value="option1" name="category2" type="radio">
                <span class="radio"></span>
                <300 ron
            </label>
            <label class="radio-button">
                <input value="option2" name="category2" type="radio">
                <span class="radio"></span>
                300-500 ron
            </label>
            <label class="radio-button">
                <input value="option3" name="category2" type="radio">
                <span class="radio"></span>
                >500 ron
            </label>
            <div class="second-section">Order</div>
            <label class="radio-button">
                <input value="option1" name="category3" type="radio">
                <span class="radio"></span>
                Most ordered
            </label>
            <label class="radio-button">
                <input value="option2" name="category3" type="radio">
                <span class="radio"></span>
                Show all
            </label>
            <button id="Card-button">Apply filters</button>
        </div>
    </div>

    <div class="card2">
        <div class="image">
            <img src="../../static/img/irrigation.jpg">
        </div>
        <span class="title">Irrigation System</span>
        <span class="price">650 ron</span>
    </div>

    <div class="card2">
        <div class="image">
            <img src="../../static/img/small-shovel.jpg">
        </div>
        <span class="title">Small shovel</span>
        <span class="price">89,99 ron</span>
    </div>

    <div class="card2">
        <div class="image">
            <img src="../../static/img/metal-solid-rake.jpeg">
        </div>
        <span class="title">Solid Rake</span>
        <span class="price">174,99 ron</span>
    </div>

</div>
</div>
</body>
</html>

