<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../../static/CSS/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Raleway:wght@500;800&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="#" id="WeGa"><span class="first-letter">W</span>e<span class="third-letter">G</span>a</a>
    </div>
    <div class = "headerButtons">
        <a href="index.html" class="button">Home</a>

    </div>
</header>
<div class = "Box">
<h1>
    REGISTER
</h1>

    <form action="/register" method="POST" class="Register-Form">

        <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder="Enter your email" required >

        <label for="name"> Full name: </label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required >

        <label for="age">Age:</label>
        <input type="number" name="age" id="age" placeholder = "Enter your age" required>

        <label for="gender"> Gender: </label>
        <select name="gender" id ="gender" required>
            <option value="">--Please choose an option--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <label for="password"> Password: </label>
        <input type="password" name="password" id="password" placeholder="Type your password" minlength="5"  maxlength="20" required >

        <p><button type="submit">CREATE ACCOUNT</button></p>

    </form>


    <h2>
        Have an account? <a href ="login.html " >Log in.</a>
    </h2>
</div>
</body>
<footer>
    <p>© 2023 WeGa.All rights reserved.</p>
</footer>
</html>