<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Gardening</title>
    <link rel="icon" type="image/png" id="logo-icon" href="../../static/img/favicon.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/shoppingcart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Raleway:wght@500;800&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="first-line">
        <div class="logo">
            <a href="index.html" id="WeGa"><span class="first-letter">W</span>e<span class="third-letter">G</span>a</a>
            <img src="../../static/img/favicon.png" class="plant-logo" alt="Plant Logo">
        </div>

        <div class="header-buttons">
            <a href="login.html" class="button">Login</a>
            <a href="register.html" class="button">Register</a>
            <a href="products.html" class="button">Products</a>
        </div>

    </div>
</header>


    <div class="cart-title">
    <h1>My shopping cart</h1>
    </div>

    <div class="cart-info">
        <h2>Your shopping cart contains no products. To add products to the basket, please return to the store.</h2>
    </div>

    <div class="recom-info">
        <h2>Until you decide, We have some recommendations for you that are on sale</h2>
    </div>



<div class="cards-container">

    <div class="card2">
        <div class="image">
            <img src="../../static/img/lalele.jpg" alt="A description of the image">
        </div>
        <span class="title">Lalele</span>
        <span class="price">100 ron</span>
    </div>

    <div class="card3">
        <div class="image2">
            <img src="../../static/img/trandafiri.jpg" alt="A description of the other image">
        </div>
        <span class="title">Trandafiri</span>
        <span class="price">200 ron</span>
    </div>

    <div class="card3">
        <div class="image3">
            <img src="../../static/img/crizanteme.jpg" alt="A description of the other image">
        </div>
        <span class="title">Crizanteme</span>
        <span class="price">150 ron</span>
    </div>

    </div>
    </div>
    </body>
    </html>

